<div class="container row justify-content-center" id="sign-up-form-container">    
    <input class="col-5" type="text" placeholder="Nombre">
    <input class="col-6" type="text" placeholder="Apellidos">
    <input class="col-11" type="text" placeholder="Correo electrónico">
    <input class="col-11" type="password" placeholder="contraseña">
    <button class="col-11" id="login-button">Iniciar sesión</button>       
    <a href="" class="text-center">¿Has olvidado la contraseña?</a>    
    <hr> 
    <button class="col-8" id="sign-up-button">Registrarse</button>
</div>