
::ng-deep {
  .swiper-slide {
    width: 180px;
    display: flex;
    flex-flow: column;    
  }
  
  .swiper-slide:first-child {
    margin-left: 15px;
  }

  .swiper-slide:last-child {
    margin-right: 15px;
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0;
  }

}

img {
  width: 180px;
  height: 180px;
  transition: opacity 0.3s ease;
}

.div-swiper {  
  display: flex;
  flex-flow: column;
  transition: transform 0.3s ease;
}
