swiper-slide {
  width: 190px;
  margin: 7px;
  padding: 5px;
  transition: transform 0.3s ease;
}

swiper-slide:hover {
  transform: scale(1.13);
}

swiper-slide:not(:first-child):hover {
    transform: translateX(10%);
    transform: scale(1.13);
}

swiper-slide:not(:hover) {
  transform: scale(1);
  transform: translateX(-10%);
}

img {
  width: 190px;
  height: 190px;
}

swiper-slide:hover ~ swiper-slide {
  transform: translateX(10%);
}

