<!-- <swiper-container      
  slides-per-view="auto"
  slides-per-group="4"
  speed="700"
  navigation="true"
  allow-touch-move="false">
  <swiper-slide *ngFor="let event of events; let i = index">
    <a href="">
      <img src="assets\images\imagenPrueba.jpeg" alt="" />
      <span> {{ event }} </span>
    </a>
  </swiper-slide>
</swiper-container> -->

<swiper
  [slidesPerView]="'auto'"
  [navigation]="true"
  [slidesPerGroup]="4"
  [allowTouchMove]="false"
  [speed]="700"
>
  <ng-template swiperSlide *ngFor="let event of events" class=".custom-swiper-slide">
    <a href="">
      <img src="assets\images\imagenPrueba.jpeg" alt="" />
      <span> {{ event }} </span>
    </a>   
  </ng-template>
</swiper>
